<div>
    <div class="row gap">
        <div class="col-md-12">
            <h4>UniKwan specialises in User Experience, Usability and Motion Design</h4>

            <p>
                The word Kwan comes from the chinese word Kwoon, which means house, school or style. 
                We, UniKwan, borrow this word from their philosophy to make it our own. 
                We are the school- that space- where professionals, guides, students and varied people from 
                multiple disciplines come together as one: a union of thought aimed at inventing a unique style/ 
                approach. This style is practiced to understand needs and to come up with solutions which are as 
                real as they are magical.
            </p>
        </div>

        <div class="col-md-12">
            <h4>
                Process
            </h4>

            <p>
                The word Kwan comes from the chinese word Kwoon, which means house, school or style. 
                We, UniKwan, borrow this word from their philosophy to make it our own. 
                We are the school- that space- where professionals, guides, students and varied people from 
                multiple disciplines come together as one: a union of thought aimed at inventing a unique style/ 
                approach. This style is practiced to understand needs and to come up with solutions which are as 
                real as they are magical.
            </p>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" style="text-align: center">
                        People
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        Simplicity
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        Precision
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h4>UniKwan specialises in User Experience, Usability and Motion Design</h4>

            <p>
                The word Kwan comes from the chinese word Kwoon, which means house, school or style. 
                We, UniKwan, borrow this word from their philosophy to make it our own. 
                We are the school- that space- where professionals, guides, students and varied people from 
                multiple disciplines come together as one: a union of thought aimed at inventing a unique style/ 
                approach. This style is practiced to understand needs and to come up with solutions which are as 
                real as they are magical.
            </p>
        </div>
    </div>
</div>
