<div>
    <div class="row">
        <div class="col-md-12 gap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>CONTACT</h4>
                            <h4>SAY HELLO! Get in touch.</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="circle"></div>
                                    <h5>
                                        Call us at
                                    </h5>
                                    <h6>
                                        +919689568578
                                    </h6>
                                </div>
                                <div class="col-md-4">
                                    <div class="circle"></div>
                                    <h5>
                                        Reach us at
                                    </h5>
                                    <h6>
                                        1115, 23rd Cross, 23rd main,<br>
                                        HSR layout, sector-2<br>
                                        Bangalore, INDIA<br>
                                        56012
                                    </h6>
                                </div>
                                <div class="col-md-4">
                                    <div class="circle"></div>
                                    <h5>
                                        Email us at
                                    </h5>
                                    <h6>
                                        info@unikwan.com
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 gap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>CAREER</h4>
                            <h4>Wide range of opportunities</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own. 
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own.
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4 career-link arrow">
                                            UX/UI Designer
                                        </div>
                                        <div class="col-md-4 career-link arrow">
                                            UI Developer
                                        </div>
                                        <div class="col-md-4 career-link arrow">
                                            User Researcher
                                        </div>
                                        <div class="col-md-4 career-link arrow">
                                            Motion Designer
                                        </div>
                                        <div class="col-md-4 career-link arrow">
                                            Graphic Designer
                                        </div>
                                        <div class="col-md-4 career-link arrow">
                                            Animator
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 gap">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>START A PROJECT</h4>
                            <h4>Let's talk your requirement</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own. 
                                    The word Kwan comes from the chinese word Kwoon, 
                                    which means house, school or style.
                                    We, UniKwan, borrow this word from their 
                                    philosophy to make it our own.
                                </div>
                                <div class="col-md-12 career-link">
                                    Email us at: business@unikwan.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>