<div>
    <div class="row work gap">
        <div class="col-lg-12">
            <div style="border-top: 1px solid #CDCDCD;"></div>
        </div>
        <div class="col-lg-12">
            <ul class="work-list">
                <li>
                    <a>All</a>
                </li>
                <li>
                    <a>UX/UI</a>
                </li>
                <li>
                    <a>Motion Design</a>
                </li>
                <li>
                    <a>Videos</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6" style="padding-right: 0">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="./images/work/thumbnails-03.png" alt=""/>
                            <figcaption>
                                <h2>Strong <span>Apollo</span></h2>
                                <p>Apollo's last game of pool was so strange.</p>
                                <a href="#">View more</a>
                            </figcaption>			
                        </figure>
                    </div>
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="./images/work/thumbnails-04.png" alt=""/>
                            <figcaption>
                                <h2>Strong <span>Apollo</span></h2>
                                <p>Apollo's last game of pool was so strange.</p>
                                <a href="#">View more</a>
                            </figcaption>			
                        </figure>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 0">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="./images/work/thumbnails-05.png" alt=""/>
                            <figcaption>
                                <h2>Strong <span>Apollo</span></h2>
                                <p>Apollo's last game of pool was so strange.</p>
                                <a href="#">View more</a>
                            </figcaption>			
                        </figure>
                    </div>
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="./images/work/thumbnails-06.png" alt=""/>
                            <figcaption>
                                <h2>Strong <span>Apollo</span></h2>
                                <p>Apollo's last game of pool was so strange.</p>
                                <a href="#">View more</a>
                            </figcaption>			
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
